.home .site-main {

    .featured-product-section {

        margin: -1.25rem;

        &>*:not(img) {
            margin: 1.25rem;
        }

        &>a {
            display: block;
            margin: .5rem 1.25rem;
        }

        a.book-now-cta {
            @include btnStyle;
        }

        a.view-all-packages-cta {
            @include btnStyle($outline: true)
        }

        @include mq($gfw__mq-md) {
            margin: -2rem -5rem 2rem;

            &>*:not(img) {
                margin: 1rem 5rem;
            }

            a {
                display: inline-block;
            }

            a.book-now-cta {
                margin-right: 0;

                &:hover,
                &:focus {
                    @include btnStyle($def: $color__green-gfw);
                }
            }

            a.view-all-packages-cta {
                margin-left: 1rem;

                &:focus,
                &:hover {
                    @include btnStyle($outline: true, $def: $color__green-gfw)
                }
            }

        }

        ;

        @include mq($gfw__mq-lg) {
            max-width: 81.25em;
            margin: auto;
            margin-top: -2rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: min-content;
            gap: 1.25rem;
            align-content: start;

            img {
                align-self: auto;
                grid-column: 1/3;
                grid-row: 1/4;
                height: 100%;
                max-height: 50vh;
                width: auto;
                object-fit: cover;
                object-position: 43% center;
            }

            &>*:not(img) {
                grid-column: 3/5;
            }

            h1 {
                grid-row: 1/2;
                margin: 0;
                margin-top: 1.25rem;
            }

            p {
                margin: 0;
                grid-row: 2/3;
            }

            a.book-now-cta,
            a.view-all-packages-cta {
                grid-row: 3/4;
                justify-items: flex-start;
                margin-left: 0;
                width: 100%;
                height: fit-content;
            }

            a.book-now-cta {
                grid-column: 3/4;
            }

            a.view-all-packages-cta {
                grid-column: 4/5;
            }
        }
    }

    section.featured_testimonial_section {}
}