section.featured_testimonial_section, section.featured-dog-testimonial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
        width: 100%;
        @include compact;
    }

    @include mq($gfw__mq-md) {
        gap: 1rem;
    } 
}

section.featured-dog-testimonial {
    article {
        @include cardStyle;
    }
}