.accordion {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    padding: $gfw-padding-lg $gfw-padding-md;
    border-top: 1px solid $color__dark-gfw;
    border-bottom: 1px solid $color__dark-gfw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;

    &::after {
        content: "+";
        font-size: 1.25rem;
    }

    &.active::after {
        content: "—";
        font-size: 1.25rem;
    }
}

.panel {
    @include compact;
    background-color: $color__accent3-gfw;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;

    p {
        margin: 1rem;
    }

    &.show {
        max-height: 100%;
    }
}


