.post-type-archive-product .site-main {
  .walkies_banner {
    img {
      position: relative;
      margin: 0 -1.25rem;
    }
  }

  .walkies-best-sellers {
    @include flex-box;
    width: 100%;
    gap: $gfw-margin-lg;
  }
}
