.page button.primary {
    @include btnStyle;
}

.site-header {
    background-color: $color__dark-gfw;
}

.page .cta-header {
    background-color: $color__yellow-gfw;
    display: flex;
    flex-wrap: wrap;
    
    ul {
        display: flex;
    }
}


