.page-id-14 {
  div#customer_details {
    div.col-1 {
      div.woocommerce-billing-fields {
        label,
        input {
          width: 100%;
        }

        p#billing_first_name_field,
        p#billing_last_name_field,
        span.woocommerce-input-wrapper {
          display: block;
          width: 100%;

          label,
          span.woocommerce-input-wrapper,
          input {
            width: 100%;
          }
        }
      }
    }
  }

  div#payment {
    a {
      display: inline;
    }

    ul {
      @include compact;
      li {
        list-style-type: none;
      }
    }
  }

  div#order_review {
    table.woocommerce-checkout-review-order-table {
      th:first-of-type,
      td:first-of-type {
        width: 30%;
      }

      th:last-of-type,
      td:last-of-type {
        width: 40%;
      }

      th,
      td {
        text-align: left;
      }
    }
  }
}
