h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-size: 2rem;
	font-family: $heading__font;
}

h1 {
	clear: both;
	font-size: 2.5rem;
	font-family: $stylized__font;
	color: $color__dark-gfw;
	text-transform: lowercase;
}

h2,
h4,
h6 {
	color: $color__dark-gfw;
}

h4,
h5 {
	color: $color__green-gfw;
}