@use "sass:math"; // for woocoomerce column-width

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: math.div($columns--margin * ($numberColumns - 1), $numberColumns) or
    calc(($columns--margin * ($numberColumns - 1)) / $numberColumns);
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Center elements in a flex
@mixin flex-box($jc: center, $ai: center) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $jc;
  align-items: $ai;
}

@mixin btnStyle(
  $outline: false,
  $br: $gfw-radius-sm,
  $def: $color__blue-gfw,
  $text: $color__white,
  $pad: $gfw-padding-sm $gfw-padding-lg
) {
  width: fit-content;
  min-width: 10rem;
  text-align: center;
  padding: $pad;
  border-radius: $br;
  background-color: $def;
  border: 2px solid $def;
  color: $text;
  font-weight: 700;

  a {
    color: $text;
  }

  @if $outline == true {
    background-color: $color__white;
    border: 2px solid $def;
    color: $def;

    a {
      color: $def;
    }
  }
}

@mixin cardStyle(
  $pad: $gfw-padding-lg,
  $outline: 1px solid $color__white,
  $br: $gfw-radius-sm,
  $bs: 5px 7px 10px rgba(0, 0, 0, 0.6) // text value
) {
  padding: $pad;
  border: $outline;
  border-radius: $br;
  box-shadow: $bs;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2,
  h3,
  p {
    margin: 0;
  }
}

// Media Query Mixin
@mixin mq($w) {
  @media (min-width: $w) {
    @content;
  }
}

// Margin 0, Padding 0
@mixin compact {
  margin: 0;
  padding: 0;
}

@mixin testimonialCard($human: true) {
  @include cardStyle;
  background-color: $color__white;
  border: 0.25rem solid $color__green-gfw;
  text-align: center;
  margin: 1.25rem $gfw-margin-sm;
  height: 30rem;
  width: 20rem;

  img {
    border-radius: $gfw-radius-lg;
    @include compact;
    margin: 1rem auto;
  }

  p {
    overflow: hidden;
  }

  & > * {
    margin: auto;
  }

  @if $human == false {
    border: 0.25rem solid $color__dark-gfw;
    height: 25rem;

    audio {
      width: auto;
      margin: $gfw-margin-sm;

      &::-webkit-media-controls-panel {
        background-color: $color__white;
      }

      &::-webkit-media-controls-mute-button,
      &::-webkit-media-controls-play-button {
        background-color: $color__accent3-gfw;
        border-radius: $gfw-radius-lg;
      }
    }
  }
}

@mixin invis {
  visibility: hidden;
  height: 0;
  width: 0;
  @include compact;
}
