.cta-header,
.nav-header {
  padding: 0.5rem 1rem;

  @include mq($gfw__mq-md) {
    padding: 1rem 2rem;
  }
}

.site-header {
  background-color: $color__dark-gfw;

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.nav-header {
  position: relative;
  @include flex-box(space-between);

  .custom-logo {
    width: 2rem;
    height: 2rem;
    @include mq($gfw__mq-lg) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .menu-toggle svg {
    display: block;
    width: 1.8rem;
    height: 2rem;
    fill: $color__white;
    cursor: pointer;
  }

  .menu-item {
    padding: 0 1rem;
  }

  .menu-toggle {
    padding: 0 0 0 1rem;
  }
}

.menu-item .dashicons {
  font-size: 1.5rem;
  color: $color__white;
  @include mq($gfw__mq-lg) {
    color: $color__dark-gfw;
  }
}

.right-nav-header {
  @include flex-box;
  flex-direction: row;

  .navigation-list {
    position: absolute;
    top: 3.3rem;
    right: 0;
    width: 14rem;
    padding: 1.5rem 2rem;
    background-color: $color__dark-gfw;
    z-index: 999;

    li {
      padding: 1rem 0;

      a {
        color: $color__white;
      }
    }

    @include mq($gfw__mq-lg) {
      position: relative;
      top: 0;
      right: 0;
      width: max-content;
      padding: 0;
    }
  }

  .menu {
    @include flex-box;

    a:hover {
      text-decoration: none;
    }

    @include mq($gfw__mq-lg) {
      @include flex-box;
      flex-direction: row;
    }
  }

  .menu-main-menu-container {
    .menu {
      flex-direction: column;
      align-items: start;

      @include mq($gfw__mq-lg) {
        display: inline-flex;
        flex-direction: row;
      }
    }
  }
}

.searchform {
  input {
    width: 100%;
  }

  @include mq($gfw__mq-lg) {
    display: inline-flex;
    margin-right: 2rem;
  }
}

.main-navigation ul ul {
  position: relative;
  top: 0;
  left: 0;
  clear: both;
  box-shadow: none;
  padding-top: 1rem;

  @include mq($gfw__mq-lg) {
    padding: 0;
  }
}

// For Toggle
@include mq($gfw__mq-lg) {
  #menu-item-294 {
    @include flex-box;
  }

  .right-nav-header .navigation-list li {
    padding: 0 1rem;
  }

  .menu-item-298 {
    padding: 0;
  }

  .menu-main-menu-container {
    display: inline-flex;
  }
}

@include mq($gfw__mq-lg) {
  .cta-header-bg {
    max-width: 100%;
    margin: 0 auto;
    background-color: $color__yellow-gfw;
  }

  .cta-header {
    display: flex;
    justify-content: space-between;

    .menu-header-left-container .menu {
      @include flex-box();
      width: max-content;
      gap: 2rem;
    }

    .desktop-shop-icons {
      width: max-content;
    }

    .menu-header-right-container .menu {
      display: flex;
      gap: 2rem;
    }
  }

  #menu-item-456 {
    @include btnStyle(true);
    border: 0;
    min-width: 6rem;
    padding: 0.5rem 1.5rem;
  }

  #menu-item-457 {
    @include btnStyle();
    min-width: 6rem;
    padding: 0.5rem 1.5rem;
  }
}

// Searchbar
.searchform {
  margin-bottom: 0.5rem;
  position: relative;
  color: $color__dark-gfw;

  input {
    border: 0;
    border-radius: 0;
  }

  .dashicons-search {
    position: absolute;
    bottom: 15%;
    right: 0.25rem;
  }

  @include mq($gfw__mq-lg) {
    margin-bottom: 0;

    input {
      background-color: transparent;
      border: 2px solid $color__dark-gfw;
      border-radius: $gfw-radius-sm;
      padding: 0.5rem 1.5rem;
    }

    .dashicons-search {
      bottom: 25%;
      right: 0.5rem;
    }
  }
}
