.site-header {
  background-color: $color__dark-gfw;

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.nav-header {
  position: relative;
  @include flex-box(space-between);

  .custom-logo {
    width: 2rem;
    height: 2rem;
  }

  .menu-toggle svg {
    display: block;
    width: 1.8rem;
    height: 2rem;
    fill: $color__white;
    cursor: pointer;
  }

  .menu-item,
  .menu-toggle {
    padding: 0 1rem;
  }
}

.menu-item .dashicons {
  font-size: 1.5rem;
  color: $color__white;
}

.right-nav-header {
  @include flex-box;
  flex-direction: row;

  .navigation-list {
    position: absolute;
    top: 4.8rem;
    right: 0;
    width: 16rem;
    padding: 2rem;
    background-color: $color__dark-gfw;
    z-index: 999;

    li {
      padding: 1rem 0;

      a {
        color: $color__white;
      }
    }

    @include mq($gfw__mq-md) {
      position: relative;
      top: 0;
      right: 0;
      width: max-content;
      padding: 0;
    }

    .search-form {
      @include mq($gfw__mq-md) {
        display: inline-flex;
      }
    }
  }

  .menu {
    @include flex-box;

    a:hover {
      text-decoration: none;
    }

    @include mq($gfw__mq-md) {
      @include flex-box;
      flex-direction: row;
    }
  }

  .menu-main-menu-container {
    .menu {
      flex-direction: column;

      @include mq($gfw__mq-md) {
        display: inline-flex;
        flex-direction: row;
      }
    }
  }
}

.main-navigation ul ul {
  position: relative;
  top: 0;
  left: 0;
  clear: both;
  box-shadow: none;
  padding-top: 1rem;

  @include mq($gfw__mq-md) {
    padding: 0;
  }
}

@include mq($gfw__mq-md) {
  #menu-item-294 {
    @include flex-box;
  }

  .right-nav-header .navigation-list li {
    padding: 0 1rem;
  }

  .menu-item-298 {
    padding: 0;
  }

  .searchform,
  .menu-main-menu-container {
    display: inline-flex;
  }
}

@include mq($gfw__mq-md) {
  .cta-header {
    width: 100%;
    justify-content: space-between;
    background-color: $color__yellow-gfw;

    .menu-header-left-container .menu {
      @include flex-box();
      width: max-content;
      gap: 2rem;
    }

    .desktop-shop-icons {
      width: max-content;
    }

    .menu-header-right-container .menu {
      display: flex;
      gap: 2rem;
    }

    .searchform {
      margin-right: 2rem;
    }
  }

  #menu-item-456 {
    @include btnStyle(true);
  }

  #menu-item-457 {
    @include btnStyle();
  }
}
