.main-navigation {
  display: block;
  width: min-content;
  text-align: center;

  ul {
    :hover > a,
    .focus > a {
    }

    a:hover,
    a.focus {
    }
  }

  li:hover > ul,
  li.focus > ul {
    left: auto;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

li {
  position: relative;

  &:hover > a,
  &.focus > a {
  }
}

.current_page_item > a,
.current-menu-item > a,
.current_page_ancestor > a,
.current-menu-ancestor > a {
}

.cta-header,
.navigation-list {
  display: none;
}

.main-navigation.toggled .navigation-list {
  display: block;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled .mobile-navigation {
  display: block;
}

.menu-toggle {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
}

.sub-menu {
  // About the company
  background-color: $color__blue-gfw;

  @include mq($gfw__mq-lg) {
    float: left;
    position: absolute;
    top: calc(100% + 0.75rem);
    left: -999em;
    z-index: 99999;
    flex-direction: column;

    li {
      width: 7.5rem;
      a {
        width: 100%;
      }
    }
  }
}

#menu-item-441 {
  // Contact
  clear: both;
  padding-bottom: 0;
  padding-right: 0;
}

@include mq($gfw__mq-lg) {
  .nav-header .menu-header-right-container,
  .navigation-list .searchform,
  .menu-toggle {
    display: none;
  }

  .cta-header {
    display: flex;
    align-items: center;
  }

  .cta-header .menu-header-right-container,
  .navigation-list {
    display: inline-flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}
