body {
  background: $color__background-body; // Fallback for when there is no custom background color defined.
  scroll-behavior: smooth;
}

// Base MQs
.page .site-main,
.post-type-archive .site-main,
.site-footer > *,
.single .site-main,
.woocommerce-page .site-main,
.search .site-main, .error404 .site-main {
  padding: 1.25rem;

  @include mq($gfw__mq-md) {
    padding: 2rem 5rem;
  }

  @include mq($gfw__mq-lg) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 81.25em;
    margin: auto;
  }
}

.site-main > section:not(.shop-package-bg):not(.featured-product-section)  {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.term-physical-products .site-main {
  overflow: hidden;
  padding: 0;
  margin: 0;
  max-width: 100%;

  .featured-product-section,
  .shop-package,
  .shop-products {
    padding: 1.25rem;
    margin: 0 auto;

    @include mq($gfw__mq-md) {
      padding: 2rem 5rem;
    }

    @include mq($gfw__mq-lg) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      max-width: 81.25em;
    }
  }
}
