$gfw-padding-xs: .5rem;
$gfw-padding-sm: .75rem;
$gfw-padding-md: 1rem;
$gfw-padding-lg: 1.5rem;
$gfw-padding-xl: 2rem;

$gfw-margin-sm: .5rem;
$gfw-margin-md: 1rem;
$gfw-margin-lg: 2rem;

$gfw-radius-sm: 3rem;
$gfw-radius-md: 5rem;
$gfw-radius-lg: 10rem;
